/*
**
** 1. Header
**
** 2. Slider Settings
**  2.a Advanced Settings
**
** 3. Slider Images
**
** #. Media Queries
**
*/

/******************
** GLOBAL STYLES **
******************/
.text-red {
  color: hsl(0, 100%, 35%);
}

/**************
** 1. HEADER **
**************/
#bb-carousel-main {
  margin-right: 15px;
}

#bb-carousel-main > header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

#bb-carousel-main > header::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

#bb-carousel-main h1 {
  margin-right: 1rem;
}

input[name="slider_name"] {
  margin-bottom: 1.5rem;
  width: 100%;
}

/***********************
** 2. SLIDER SETTINGS **
***********************/
.slider-settings-container,
.slider-images-container {
  background: #fff;
  box-shadow: 0 2px 4px hsl(0, 0%, 70%);
  margin-bottom: 1.5rem;
}

.slider-settings-header,
.slider-images-header {
  background: #fff;
  padding: 10px;
  position: relative;
}

.slider-settings-header::before,
.slider-images-header::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.slider-settings-header > h2,
.slider-images-header > h2 {
  margin: 0;
  position: relative;
}

.tab-closed::after {
  content: '\0025B2';
  font-size: 12px;
  position: absolute;
  right: 0;
}

.tab-open::after {
  content: '\0025BC';
  font-size: 12px;
  position: absolute;
  right: 0;
}

.slider-settings-content,
.slider-images-content {
  padding: 10px;
  overflow: hidden;
}

.transition-time-container {
  display: flex;
  align-items: center;
}

.transition-time-container::after {
  content: 'seconds';
}

.transition-time-container p {
  margin-right: 1rem;
}

.transition-time-container input {
  box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, .3);
  margin-right: 5px;
  width: 70px;
}

/**************************
** 2.a Advanced Settings **
**************************/
.advanced-options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
}

.advanced-options-container > div {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.advanced-options-container .advanced-options-p {
  width: 125px;
}

.advanced-options-container > div > p {
  margin-right: 1rem;
}

.advanced-options-container > div > input {
  margin-top: 2px;
}

/*********************
** 3. SLIDER IMAGES **
*********************/
.slider-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.slider-images .slider-image {
  margin: 15px;
  position: relative;
  max-width: 200px;
}

.slider-image > img {
  height: 200px;
  width: 200px;
  max-height: 200px;
  max-width: 200px;
}

.remove-image {
  content: '×';
  color: red;
  cursor: pointer;
  font-size: 40px;
  position: absolute;
  top: 0;
  right: 0;
}

/*********************
** #. MEDIA QUERIES **
*********************/
@media screen and (min-width: 507px) {
  .advanced-options-container {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 492px) {
  .slider-images {
    justify-content: flex-start;
  }
}
